body {
  background: url("data:image/svg+xml,%3Csvg%3E%3Cg transform%3D%22translate(0)%22%2F%3E%3C%2Fsvg%3E");
  background: url("data:image/svg+xml,%3Csvg%3E%3Cg transform%3D%22translate(0)%22%2F%3E%3C%2Fsvg%3E");
  background: url("data:image/svg+xml,%3Csvg%3E%3Cg transform%3D%22translate(0)%22%2F%3E%3C%2Fsvg%3E");
}
